@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    background-color: #d0d0d0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    width: 20%;
    margin: 10rem auto 1.5rem;
}

#main {
    /* max-width: 40rem;
    height: 5rem; */
    margin: 0 1rem;
}

.card {
    background: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-weight: 300;
}

p {
    font-size: 0.8rem;
}

.container {
    border-radius: 10px;
    overflow: hidden;
    background-color: #555355;
    color: #fff;
    padding: 1rem;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bg {
    background-color: #fff;
    height: 8.5rem;
    width: 8.5rem;
    border-radius: 50%;
    padding: 0.5rem;
}

img {
    height: 7.5rem;
    border-radius: 50%;
}
